.App {
  padding: 2rem 0 3rem 0;
  background:  black;
  color: white;
  height: 100vh;
}

.AppTitle{
  font-family:monospace;
  text-align: center;
  font-size: 2em;

}

/*Add Form*/
.add-form{
  margin: 2em 0.5em 0 0.5em;
  max-width: 80%;
}

/*Search Box*/
.search-box{
  margin: 4em 0em 0 0em;
}
.contact-list{
align-items: center;
justify-content: center;
 max-width: 90%;
  margin: 0 !important;
  padding: 20px 0 0 0 !important;
}

/* Each Contact Items */
.each-contact-box {
  padding: 0.5em;
  background-color: rgba(69, 83, 99, 0.636);
  background-image: linear-gradient(90deg, #1e3c72 0%, #000000 100%);
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  margin: 0.5em;
}
  .profile{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-person {

    margin: 0.3em auto;
    color: rgba(255, 255, 255, 0.795);
  }
  .rm-profile{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rm-profile:hover {
    color: red;
    cursor: pointer;
  }
  .each-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
  }